## Load the Dataset
Here we will explore SuperHero Dataset

In [1]:
# Loading the libraries

import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
colors = sns.color_palette()

In [2]:
#Loading the dataset

heroes = pd.read_csv('heroes_information.csv')
powers = pd.read_csv('super_hero_powers.csv')

In [3]:
#Looking the shape of the dataset we have taken too 

print(heroes.shape)
print(powers.shape)

(734, 11)
(667, 168)

In [4]:
heroes.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

 looking into the data the first five rows and columns of the dataset what is the data is saying

In [5]:
heroes.drop(["Unnamed: 0"],axis=1,inplace =True) #unsual Unnamed column name deleting the column name which is not useful

In [6]:
heroes.head(2)

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0

- here we can see that the column name permanentaly deleted which is not so useful by using the `drop() function`

In [7]:
heroes.name.isna().sum()

0

In [8]:
heroes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 10 columns):
name          734 non-null object
Gender        734 non-null object
Eye color     734 non-null object
Race          734 non-null object
Hair color    734 non-null object
Height        734 non-null float64
Publisher     719 non-null object
Skin color    734 non-null object
Alignment     734 non-null object
Weight        732 non-null float64
dtypes: float64(2), object(8)
memory usage: 34.4+ KB

- `info()` will reveals the dataset information like range of the data 
- how many no of records entries in the dataset.
- Total no of columns in the dataset in our dataset we have 10 columns
- number of rows in the dataset
- column names
- datatypes here we have `float64(2)` is mentioned that there two types of float data types in which **Height**,**Weight** and remaining 8 are **object type**
- and the lastly memory usage

In [9]:
## Lets check the Publisher column have null values or not

heroes.Publisher.isna().sum()

15

**here we can see that column name  `Publisher` has 15 null values**

In [10]:
heroes.describe()

           Height      Weight
count  734.000000  732.000000
mean   102.254087   43.855191
std    139.624543  130.823733
min    -99.000000  -99.000000
25%    -99.000000  -99.000000
50%    175.000000   62.000000
75%    185.000000   90.000000
max    975.000000  900.000000

- `describe()` is reveals the some statistical elements of the data set
- Here we can see that count,mean standard deviation,min,and percentages of the of the numeriical data type
- for object type it will not calculate the stastical elements

In [11]:
heroes.loc[heroes['name']=="Superman",'Alignment']

646    good
Name: Alignment, dtype: object

In [12]:
heroes.loc[heroes['name']=="Thanos","Alignment"]

657    bad
Name: Alignment, dtype: object

In [13]:
# checking the Alignment column unique values
heroes.Alignment.unique()

array(['good', 'bad', '-', 'neutral'], dtype=object)

In [14]:
heroes.Alignment.value_counts()

good       496
bad        207
neutral     24
-            7
Name: Alignment, dtype: int64

In [15]:
heroes.name.isna().sum() # Checking the column name does it have null values

0

NO `NULL` values